html {
    height: 100%;
    font-size: 100%;
}

body {
    margin: 0;
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;
    background-color: darkgrey;
    overflow: auto;
}

.sidebar h3 {
    padding-left: 10px;
    margin-bottom: 5px;

}

.sidebar .newroom {
    margin: 0 15px;
}

.chatrooms a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.chatrooms a:active {
    background-color: #4CAF50;
    color: white;
}

.chatrooms a:hover:not(.active) {
    background-color: #555;
    color: white;
    cursor: pointer;
}


.container {
    position: fixed;
    top: 0px;
    left: 250px;
    width: 80%;
    height: 100%;
    background-color: white;
    overflow: auto;
}

.container .username {
    font-weight: bold;
}

.container .time {
    float: right;
    padding-right: 100px;
}


.container .username .time {
    display: inline-block;
}
*/
.container .usermsg {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}