<div>
    <div class="modal-dialog modal-sm">
        <form class="createRoomForm">
            
            <h3>{{ modal.createRoomForm.headerText }}</h3>
            
            <label>{{ modal.createRoomForm.roomText }}</label> 
            
            <br />
            
            <input type="text" ng-model="newRoom" />  
            
            <br />
            
            <button class="btn-md" type="button" ng-click="modal.cancel()">Cancel</button>
        
            <button class="btn-md" type="submit" ng-click="modal.createroom(newRoom)">Create Room</button>
        
        </form>
        
        
    </div>
</div>

